.wrapper{
   min-height: 100vh;
   width: 100%;
   background: #9a9898;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./game_tik.jpeg);
    background-repeat: space;

}
.start__btn{
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    color: rgb(14, 14, 15);
    outline:none ;
    background:#dbd9d9;
    border: 1px solid white;
}
.start__btn:hover{
    
}


